@import "@styles/variables.scss";
@import "@styles/media.scss";

:root {
  --loadScaleStart: 0%;
  --loadScaleEnd: 10%;
  --scrollBarHeight: 33%;
}

.input-warning {
  position: absolute;
  position: absolute;
  top: -32px;
  background: $grey_blue_litter;
  width: 100%;
  left: 0;
  padding: 5px;
  padding-left: 35px;
}

.mirror-chat-container {
  position: fixed;
  height: 90vh;
  overflow: auto;
  z-index: 100000;
  background: #fff;
  right: 0;
  min-width: 300px;
  padding: 10px;
}

.scroll-to-bottom {
  position: absolute;
  bottom: 110px;
  right: 40px;
  width: 40px;
  height: 40px;
  background: #f8f9fa;
  z-index: 1000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f7f7f7;
  box-shadow: 0px 1px 2px 1px rgba(34, 60, 80, 0.2);
  cursor: pointer;

  svg {
    color: $blue_lite;
  }

  &:hover {
    svg {
      color: $blue_accent;
    }
  }

  .new-messages-indicator {
    position: absolute;
    top: -8px;
    left: -5px;
    width: 24px;
    background: #5c87c2;
    height: 24px;
    border-radius: 50%;
    color: #fff;
    border: 2px solid #ecedef;
    font-weight: 500;
    text-align: center;
  }

  svg {
    width: 28px;
    height: 28px;
  }
}

.new-message-divider {
  color: $blue_lite !important;
  padding: 0 23px !important;
}

.ant-modal-body {
  padding: 0px !important;
  padding-top: 18px !important;
}

.file_modal-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 50px;
  margin-top: 30px;
  align-items: center;

  .main_input {
    width: 100%;

    .ant-input {
      border: none;
    }
  }
}

.file_modal-file-controller {
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
  justify-content: space-between;

  .file_controller-item {
    opacity: 0.5;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}

.ant-modal-content {
  padding-top: 30px;
}

.file-holder-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.file_modal-options {
  margin-top: 10px;

  .compression-switch {
    button {
      margin-right: 10px;
    }
  }
}

.file-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  background: #f0f2f5;
  border-radius: 5px;

  .file-holder-info {
    width: 66.33%;
    display: flex;
    flex-direction: column;
    height: 80px;

    .name {
      font-size: 17px;
      font-weight: 500;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }
  }

  .file-holder-preview {
    width: 33%;
    height: 80px;
    margin-right: 15px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    background: $blue_default;
    display: flex;
    justify-content: flex-start;

    .content {
      min-width: 70%;
      max-width: 100%;

      .play-icon {
        padding: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: #11111130;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      img {
        height: auto;
        width: 100%;
      }

      video {
        height: 100%;
        width: auto;
      }
    }
  }
}

.audio-holder {
}

.video-holder {
}

.file-holder {
}

.seting_menu_header {
  display: flex;
  justify-content: space-between;
  height: 10%;

  h4 {
    font-size: 17px;
    margin-bottom: 0;
    width: 50%;
  }

  span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18%;
    font-size: 18px;
    color: #3498db;
    cursor: pointer;

    p {
      margin-bottom: 0;
    }
  }
}

.buttons_block {
  height: 15%;
}

.modal_seting_block {
  width: 100%;
  height: auto;
  display: flex;

  .ant-collapse-icon-position-left {
    width: 50%;
  }

  .ant-collapse-content-box {
    background: #f1f1f1 !important;
  }

  .list_block {
    padding: 0 1%;
  }

  .anticon.anticon-right.ant-collapse-arrow {
    position: static;
    margin-right: 10px;
  }
}

.message-item {
  position: absolute;
  width: 83%;
  left: 1%;
  top: 34%;
  z-index: 123;
  height: 56%;
}

.message-block-content {
  background: #f1f4f9;
  padding: 16px 16px 16px 10px;
  display: flex;
  box-shadow: 0 3px 6px #00000029;
  opacity: 1;
  border-radius: 8px;
  position: relative;
  font-size: 14px;
  height: 100%;
  line-height: 1.56;
}

.message-block-content::before,
.block::after {
  content: "";
  position: absolute;
  left: 26px;
  bottom: -32px;
  border: 14px solid transparent;
  border-top: 19px solid #f1f4f9;
}

.message-block-content::after {
  border-top: 10px solid white;
  bottom: -19px;
}

.ant-skeleton-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.start_chat_page {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 30%;
  align-items: center;
  background: linear-gradient(33deg, #ffffff, #ffffff00);
  background-size: 400% 400%;
  z-index: 100;
  animation: gradientWaiting 15s ease-in-out infinite;
}

@keyframes gradientWaiting {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

.ant-col-xs-24 {
  height: 100%;
}

.modal_header {
  width: 40%;

  p {
    margin-bottom: 0;
    font-size: 18px;
  }

  span {
    width: 25%;
    align-items: center;
    font-size: 24px;
    color: #3498db;
  }
}

.search_input {
  width: 100%;

  span {
    font-size: 20px;
    color: #3498db;
  }
}

.create_cat_block {
  form {
    display: flex;
    flex-direction: column;
    align-items: start;

    input {
      padding: 1% 2%;
      border: 1px solid #f1f4f9;
      border-radius: 8px;
    }
  }
}

.contact_layout_container {
  position: relative;

  @include _650 {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: -100vw;
    z-index: 100;

    &.active {
      left: 0;
    }
  }
}

.contact_trigger {
  z-index: 100;
  position: absolute;
  top: 0;
  left: -100px;
  width: 50px;
  height: 50px;
}

.ant-modal-footer {
  padding: 10px 0px;
}

.font_size-normal {
  font-size: 18px !important;

  &:hover {
    font-size: 18px !important;
  }
}

.ant-btn-primary {
  color: $blue_default !important;
  font-size: 21px;
  line-height: 1;
  background: transparent !important;
  border: none;
  box-shadow: none !important;

  &:hover {
    color: $blue_accent !important;
    font-size: 21px;
    line-height: 1;
    background: transparent !important;
    border: none;
    box-shadow: none !important;
  }
}

.date_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin: 25px 0;
  padding: 0 20px;
}

.ant-divider-horizontal.ant-divider-with-text::before,
.ant-divider-horizontal.ant-divider-with-text::after {
  border-top: 1px solid #a9d1e0;
}

.date {
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  color: $grey_active;
  opacity: 0.7;
  min-width: 50px;
  text-align: center;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.smile_realization {
  max-height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  bottom: -10px;
  left: 30px;
  position: relative;
}

.smile_msg {
  margin: 0 5px;
  border: 1px solid $grey_blue_litter;
  border-radius: 30px;
  background: $white;
  font-size: 18px;
  z-index: 10;
  width: 32px;
  height: 32px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-button-next {
  margin-top: -20px;
  position: absolute;
  width: 18px;
  height: 18px;
  z-index: 10;
  top: 82%;
  right: -2px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.swiper-button-prev {
  margin-top: -20px;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 82%;
  left: -2px;
  z-index: 10;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.swiper-slide {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px !important;
  height: 100%;
  position: relative;
  margin: 0 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.05s;

  &:hover {
    transform: scale(1.05) translateY(-2px);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  }
}

.smile_menu {
  position: relative;
  width: 170px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  .smile_swiper_item {
    width: 33%;
    height: 50px;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background: #11111111;
    }
  }
}

.message-status.self {
  position: absolute;
  bottom: -22px;
  right: 5px;
  font-size: 12px;
  color: $grey_blue_active;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;

  .dropdown-trigger {
    margin-right: 5px;
  }

  svg {
    opacity: 0.4;

    &:hover {
      opacity: 0.7;
    }
  }
}

.message-status {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .dropdown-trigger {
    margin-right: 5px;
  }

  svg {
    cursor: pointer;
    opacity: 0.4;

    &:hover {
      opacity: 0.7;
    }
  }
}

.msg-role {
  font-size: 13px;
  color: $blue_origin;

  &:hover {
    color: $blue_default;
  }
}

.message-status > * {
  padding: 0 5px;
}

.msg_header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 4px;

  span {
    color: $grey_blue_active;
    padding: 0 5px;
    cursor: pointer;
  }
}

.social_media_icon {
  width: 18px;
  height: 18px;
  position: absolute;
  z-index: 100;
  bottom: -8px;
  right: 0;
  box-shadow: 0 0 0 2px $white_chat;
  border-radius: 15px;
  background: $grey_soft;

  &.white {
    box-shadow: 0 0 0 2px $ui_white;
  }

  &.instagram {
    border-radius: 3px;
  }

  &.vkontakte {
    border-radius: 3px;
  }

  &.facebook {
    border-radius: 3px;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.message.self {
  padding-right: 20px !important;
  padding-left: 0rem !important;

  .message-wrapper .msg_type {
    position: absolute;
    left: -30px;
    top: 7px;
  }

  @include _990 {
    padding-right: 10px !important;
  }

  @include _768 {
    padding-right: 20px !important;
  }

  &.not-main {
    margin-bottom: 3px !important;
  }

  .msg_header {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    position: relative;
    font-size: 13px;
    padding-right: 45px;
  }

  .message-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end !important;
    align-items: center;
  }

  .message-content {
    padding: 7px 15px;
    padding-right: 0px;
    min-width: 70px;
    max-width: 50%;
    min-height: 40px;
    background: $blue-lite !important;
    padding-left: 15px !important;
    left: -55px !important;
    top: 0;
    border-radius: 5px;

    .msg_text_container {
      max-width: 100%;
      word-wrap: break-word;
      z-index: 10;
      position: relative;
      line-height: 1.8;
    }

    &.not-main {
      left: -16px !important;
      padding-left: 1.2rem !important;
    }

    &.not-main > .inset_border_container {
      display: none !important;
    }

    .reply {
      border-left: 2px solid $blue_active;
      padding-left: 6px;
    }

    .editted_icon {
      left: -28px;
    }

    .smile {
      left: -28px;
    }

    .inset_border_container {
      position: absolute;
      z-index: 0;
      width: 45px;
      height: 100%;
      right: -35px;
      left: auto;
      bottom: 0;
      border-radius: 5px;
      overflow: hidden;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: block;

      .border_hero {
        position: absolute;
        background: transparent;
        width: 55px;
        height: 43px;
        border-radius: 37px;
        left: 21px;
        bottom: -26px;
        box-shadow: 0 0 0 500px $blue-lite;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
      }

      .dummy {
        display: block;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        position: absolute;
        top: 0;
        left: 0;
        width: 45px;
        height: 50%;
        background: $blue-lite;
      }
    }
  }
}

@keyframes messageAppear {
  0% {
    transform: translateY(20px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.message {
  &.new {
    animation: 0.1s linear messageAppear;
  }
}

.message {
  font-family: "IBMPlexMono", sans-serif !important;
  padding-left: 20px !important;
  padding-right: 0rem !important;

  @include _990 {
    padding-left: 10px !important;
  }

  @include _768 {
    padding-left: 20px !important;
  }

  .message-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start !important;
    align-items: flex-start;

    .msg_type {
      position: absolute;
      right: -30px;
      top: 7px;
    }
  }

  .msg_header {
    text-align: left;
    position: relative;
    left: 25px;
    font-size: 13px;
  }

  .message-content {
    padding: 7px 15px;
    padding-left: 0px;
    min-width: 70px;
    max-width: 50%;
    min-height: 40px;
    color: $white !important;
    background: $grey_default !important;
    border-radius: 5px;
    top: -2px;
    left: 55px;
    position: relative;

    .msg_file_container {
      padding: 7px 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .msg_content-image {
        &:first-child {
          width: 100% !important;
          height: auto !important;
          margin-bottom: 7px;
        }

        &.image_count_1 {
          width: 100%;
        }

        &.image_count_2 {
          width: 49% !important;
          margin: 0.5%;
        }

        &.image_count_3 {
          width: 49%;
          margin: 0.5%;
          height: 80px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          flex-direction: column;
        }

        &.image_count_4 {
          width: 32.33%;
          margin: 0.5%;
          height: 80px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          flex-direction: column;
        }

        &.image_count_5 {
          width: 24%;
          margin: 0.5%;
          height: 80px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          flex-direction: column;
        }

        &.image_count_6 {
          width: 19%;
          margin: 0.5%;
          height: 80px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          flex-direction: column;
        }

        img {
          height: 100%;
          width: auto;
          max-width: 100%;
        }
      }
    }

    .msg_text_container {
      text-align: start;
      max-width: 100%;
      word-wrap: break-word;
      z-index: 10;
      position: relative;
      line-height: 1.8;
    }

    .readed-status {
      position: absolute;
      right: 8px;
      bottom: 3px;
      opacity: 0.7;
    }

    .reply {
      border-left: 2px solid $dark_blue_soft;
      padding-left: 6px;
    }

    .editted_icon {
      width: 24px;
      height: 24px;
      position: absolute;
      right: -28px;
    }

    .smile {
      position: absolute;
      right: -28px;
      top: 0px;
      cursor: pointer;
      opacity: 0.4;

      &.active {
        opacity: 0.7;
      }

      &:hover {
        opacity: 0.7;
      }
    }

    span {
      position: relative;
      z-index: 10;
    }

    .inset_border_container {
      display: block;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      position: absolute;
      z-index: 0;
      width: 44px;
      height: 100%;
      left: -35px;
      bottom: 0;
      border-radius: 5px;
      overflow: hidden;

      .border_hero {
        display: block;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        position: absolute;
        background: transparent;
        width: 55px;
        height: 43px;
        border-radius: 37px;
        left: -30px;
        bottom: -26px;
        box-shadow: 0 0 0 500px $grey_default;
      }

      .dummy {
        display: block;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        position: absolute;
        top: 0;
        left: 0;
        width: 45px;
        height: 50%;
        background: $grey_default;
      }
    }
  }

  .message-content.not-main {
    min-width: 100px;
    max-width: 20rem;
    min-height: 40px;
    left: 0px;
    padding-left: 1.2rem !important;
  }

  .message-content.not-main > .inset_border_container {
    display: none;
  }

  .message-options {
    .avatar {
      cursor: pointer;
      position: relative;
      z-index: 10;
    }
  }
}

.chat {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  max-height: calc(100vh - 60px);
  height: calc(100vh - 60px);
  width: 100%;
  background-size: cover;
  background-position: top center;
  background: url("../../styles/chat-background.png");

  .info_center {
    text-align: center;
    font-size: 18px;
  }
}

.msg_space {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  max-height: calc(100% - 73px);
  min-height: 0px;
  height: 100%;

  .message-list-container {
    height: 100%;
    width: 100%;
  }
}

.inputer {
  max-height: 70%;
  position: relative;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 25px;
  background: #fff;

  @include _990 {
    padding: 10px;
  }

  @include _768 {
    padding: 10px 25px;
  }

  @include _375 {
    padding: 10px 5px;
  }

  .input-container {
    height: 100%;
    width: calc(100% - 58px);
    min-height: 50px;
    border-radius: 10px;
    padding: 5px;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    @include _375 {
      width: calc(100% - 38px);
    }
  }

  .main_input {
    min-width: 200px;
    width: 100%;
    min-height: 40px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include _375 {
      min-width: 200px;
    }

    .selected-container {
      width: 100%;
      margin-bottom: 5px;
      min-height: 28px;
      border-left: 2px solid $blue_lite;
      padding-left: 6px;
    }

    textarea {
      outline: none !important;
      box-shadow: none !important;
      font-size: 15px;
      overflow: hidden;
      resize: none;
      outline: none;
      width: 100%;
      height: 100%;
      background: transparent;
      border: none;

      max-height: 50vh !important;
      overflow: auto;
    }
  }

  .send_btn {
    background: $blue_default;
    color: #fff;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include _375 {
      height: 42px;
      width: 42px;
      position: relative;
      top: -5px;

      .icon_x {
        width: 25px !important;
        height: 15px !important;
      }
    }

    cursor: pointer;

    &:hover {
      background: $blue_accent;
    }
  }

  .inputer_btn {
    height: 42px;
    width: 42px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
    cursor: pointer;

    @include _375 {
      height: 42px;
      width: 42px;
    }

    .helper_menu {
      transform: rotate(180deg);

      .anticon-align-center {
        font-size: 26px;
        color: #3498db;
      }
    }

    &:hover {
      // box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.08);
    }
  }
}

.msg.hero {
  margin: 10px 0;
  justify-content: flex-end;
  padding: 10px 23px;
  padding-bottom: 0;

  .msg_content {
    background: #688eca;
  }
}
