.create_categories_btn {
  padding: 0 15px;
  height: 40px;
}

.create_categories {
  font-size: 23px;
  font-weight: bold;
}

.selectead_categories {
  text-align: center;
  font-size: 16px;
  color: white;
  padding: 1.5%;
  border: 1px solid;
  border-radius: 6px;
}
