@import "@styles/variables.scss";
@import "@styles/media.scss";

.ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content {
  box-shadow: -7px 1px 11px 0px rgba(0, 0, 0, 0.25);
}

.contacts-list {
  height: 100% !important;
  margin-bottom: 0 !important;
}

@-moz-document url-prefix() {
  .scroller {
    scrollbar-color: #ffcb17 #ffe077;
    scrollbar-width: thin;
    width: calc(100% + 19px);
  }
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .chat_loading {
    min-height: 300px;
    display: flex;
    position: relative;
    max-height: calc(100vh - 60px);
    height: calc(100vh - 60px);
    justify-content: center;
    background: $white_chat;
  }
}

.ant-layout-sider {
  width: 100%;
  height: 100%;
}

.chat-name {
  font-size: 16px !important;
  font-weight: 600;
  color: $dark_blue_litter;
}

.menu_list {
  width: 100%;
  height: calc(100vh - 60px);
  margin-top: 60px;
  transition: ease-in-out 0.1s;
  transition-delay: 0.1s;

  &.active {
    // height: calc(100vh - 190px);
    // margin-top: 190px;

    height: calc(100vh - 145px);
    margin-top: 145px;
  }
}

.avatar {
  span {
    img {
      border-radius: 40%;
    }
  }
}

.online_dot {
  .ant-badge-dot {
    background: $green_origin;
    width: 7px;
    height: 7px;
    box-shadow: 0 0 0 3px $ui-white;
  }

  &.active {
    .ant-badge-dot {
      background: $green_origin;
      width: 7px;
      height: 7px;
      box-shadow: 0 0 0 3px $green_lite;
    }
  }

  .ant-badge-count,
  .ant-badge-dot,
  .ant-badge .ant-scroll-number-custom-component {
    top: 5px !important;
    right: 5px !important;
  }
}

.last_msg {
  width: 100%;
  overflow: hidden;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: space-between;

  .from {
    margin-right: 5px;
    display: inline-block;
    color: $blue_origin;
  }
}

.unreaded_count {
  color: #fff;
  background: #ababab;
  border-radius: 15px;
  padding: 0px 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.radio_btn {
  &.all {
    width: 38%;
  }
}

.ant-collapse-content > .ant-collapse-content-box {
  padding: 8px;
}

.ant-input-group-wrapper {
  height: 100%;
}

.ant-input-group {
  display: flex;
  height: 100%;
}

.ant-collapse {
  background: #f4f5f6 !important;
  background-color: #f4f5f6 !important;
}

.search .search-input {
  input {
    margin: 0 !important;
  }
}

.ant-collapse-borderless > .ant-collapse-item:last-child,
.ant-collapse-borderless > .ant-collapse-item:last-child .ant-collapse-header {
  border: none !important;
}

.ant-collapse-content-box {
  border: none !important;
  background: transparent !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 0;
  overflow: hidden;
  border: none !important;
  background: transparent !important;
}

.ant-input-group-addon {
  background: transparent !important;
}

.ant-radio-group {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.ant-radio-button-wrapper {
  padding: 0;
  background: transparent !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #dfdfdf !important;

  &:hover {
    background: $blue_soft !important;
  }
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background: $blue_soft !important;
  border-color: #1890ffa8 !important;
}

.filter_container {
  display: none;
  padding: 10px 0;
}

.ant-input-search-enter-button + .ant-input-group-addon,
.ant-input-search-enter-button input + .ant-input-group-addon {
  width: 60px;
  height: 60px;
}

.ant-input-search-enter-button + .ant-input-group-addon .ant-input-search-button,
.ant-input-search-enter-button input + .ant-input-group-addon .ant-input-search-button {
  width: 60px;
  height: 60px;
}

.contacts-item {
  border-bottom: 1px solid $grey_blue_lite;
  padding: 10px 25px !important;

  &.loading {
    height: auto !important;
  }

  @include _990 {
    padding: 10px !important;
  }

  @include _768 {
    padding: 10px 25px !important;
  }

  &.active {
    background: $grey_blue_lite;
  }
}

.contact_item {
  width: 100%;
  height: 60px;
  padding: 10px 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  cursor: pointer;

  &:hover {
    background: $grey_blue_lite;
  }

  .avatar {
    width: 36px !important;
    height: 36px !important;
    min-width: 36px !important;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .online_dot {
      .ant-badge-dot {
        background: $green_origin;
      }

      .ant-badge-count,
      .ant-badge-dot,
      .ant-badge .ant-scroll-number-custom-component {
        top: 29px;
        transform: none !important;
      }
    }

    img {
      border-radius: 14px !important;
      width: 36px !important;
      height: 36px !important;
    }
  }

  .unreaded_count {
    background: $blue_active;
    padding: 0px 10px;
    border-radius: 10px;
    color: $white;
    position: absolute;
    right: 10px;
    font-size: 12px;
    bottom: 10px;
  }

  .content {
    width: 83%;
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }

    .name {
      font-size: 16px;
      font-weight: 600;
    }

    .date_last_msg {
      font-size: 12px;
      color: $grey_default;
    }

    .last_msg.unread {
      width: 85%;
    }
  }
}
