@import "@styles/variables.scss";
@import "@styles/media.scss";

.announcement {
  text-align: center;
  width: 100%;
}

// .ant-btn.disabled,
// .ant-btn[disabled] {
//   cursor: wait;
// }

.ant-btn[disabled] {
  color: rgba(0, 0, 0, 0);
  background-color: inherit;
  border-color: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

// .ant-input[disabled] {
//   cursor: wait;
// }

.school-filter {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  select {
    width: 100% !important;
  }
}

.all_contacts_item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 15px;
}

.contact_header {
  border-bottom: 1px solid $grey_blue_lite;
  position: absolute;
  background: #fff;
  z-index: 1000;
  width: 100%;
}

.settings_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.close_trigger {
  cursor: pointer;
}

.settings_profile {
  width: 10%;
  max-width: 32px;
}

.search_header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background: $ui_white;
  align-items: center;

}

.profile_trigger {
  min-width: 50%;
  padding: 5px;
  font-size: 17px;
  font-weight: 600;

  span {
    cursor: pointer;
    margin-left: 5px;
    overflow: 0.5;
    font-size: 14px;
    font-weight: normal;
  }
}


.search .search-input {
  input {
    margin: 0 !important;
  }
}

.ant-collapse-borderless>.ant-collapse-item:last-child,
.ant-collapse-borderless>.ant-collapse-item:last-child .ant-collapse-header {
  border: none !important;
}

.ant-collapse-content-box {
  border: none !important;
  background: transparent !important;

}

.ant-collapse-content>.ant-collapse-content-box {
  padding-bottom: 15px;
}

.ant-collapse>.ant-collapse-item>.ant-collapse-header {
  padding: 0;
  overflow: hidden;
  border: none !important;
  background: transparent !important;
}

.ant-input-group-addon {
  background: transparent !important;
}


.channel-container {
  display: flex;
  // height: 70px;
  height: 25px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.channel-item {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  svg {
    margin-right: 5px;
  }
}

.ant-radio-group {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.ant-radio-button-wrapper {
  padding: 0;
  background: transparent !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #dfdfdf !important;

  &:hover {
    background: $blue_soft !important;
  }
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background: $blue_soft !important;
  border-color: #1890ffa8 !important;
}


.filter_container {
  display: none;
  padding: 10px 0;
}

.search {
  width: 100%;
  height: 60px !important;
  padding: 0px 10px;
  position: relative;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100000;
  background: $grey_blue_litter;

  @include _990 {
    padding: 0px;
  }

  @include _768 {
    padding: 0px 10px;
  }

  .search-input {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;


    input {
      width: 100%;
      height: 100%;
      border: none;
      background: none;
      outline: none;
      box-shadow: none !important;
      padding: 0;
      padding-left: 5px;
    }
  }

  .search-filter {
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .transparent {
      width: 60px;
    }

    &:hover {
      svg {
        fill: $blue_accent;
      }
    }

    cursor: pointer;
  }

  .search-btn {
    position: absolute;
    right: 10px;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}